<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="employee.css" >
  </head>
  <body>
    <div class="container">
      <h2>Patient Check-In</h2>
          <div class="row">
            <div class="col-xs-3" style="border: #ccc">Last Name</div>
            <div class="col-xs-1" style="border: #ccc">First Initial</div>
            <div class="col-xs-2" style="border: #ccc">Check-In Time</div>
            <div class="col-xs-2" style="border: #ccc">Appointment Time</div>
            <div class="col-xs-2" style="border: #ccc">Doctor's Name</div>
            <div class="col-xs-2" style="border: #ccc">New Patient</div>
          </div>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Brown</div>
            <div class="col-xs-1">S</div>
            <div class="col-xs-2">9:00 AM</div>
            <div class="col-xs-2">9:15 AM</div>
            <div class="col-xs-2">Michaliszyn</div>
            <div class="col-xs-2">X</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">McMinn</div>
            <div class="col-xs-1">E</div>
            <div class="col-xs-2">9:15 AM</div>
            <div class="col-xs-2">9:30 AM</div>
            <div class="col-xs-2">Boston</div>
            <div class="col-xs-2">-</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Davis</div>
            <div class="col-xs-1">B</div>
            <div class="col-xs-2">9:45 AM</div>
            <div class="col-xs-2">Walk In</div>
            <div class="col-xs-2">-</div>
            <div class="col-xs-2">-</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Heald</div>
            <div class="col-xs-1">S</div>
            <div class="col-xs-2">9:45 AM</div>
            <div class="col-xs-2">9:45 AM</div>
            <div class="col-xs-2">Blanchard</div>
            <div class="col-xs-2">-</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Curry</div>
            <div class="col-xs-1">S</div>
            <div class="col-xs-2">10:00 AM</div>
            <div class="col-xs-2">10:30 AM</div>
            <div class="col-xs-2">Boston</div>
            <div class="col-xs-2">X</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Ciampitti</div>
            <div class="col-xs-1">J</div>
            <div class="col-xs-2">10:00 AM</div>
            <div class="col-xs-2">Walk In</div>
            <div class="col-xs-2">-</div>
            <div class="col-xs-2">X</div>
          </a>
          <a href="detail.html" class="row" type="submit">
            <div class="col-xs-3">Brown</div>
            <div class="col-xs-1">K</div>
            <div class="col-xs-2">10:00 AM</div>
            <div class="col-xs-2">10:30 AM</div>
            <div class="col-xs-2">Michaliszyn</div>
            <div class="col-xs-2">-</div>
          </a>
        <br>
          <p>For the privacy of all of our patients, please ensure you logoff after checking in patients</p>
        <div class="frame" style="border: 0px; float: right">
        <a href="login.html" class="btn btn-lg btn-primary btn-block" type="submit">Log Out</a>
      </div>
    </div>
  </body>
</html>
