<!DOCTYPE html>
<html>
<head>
<center><title> Check Me IN: Medical Check In Software</title>
<h1>Check Me IN: Medical Check In Software</h1>

<h2>Superuser</h2></center>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="superusercss.css">
</head>
<body class="body">
<br>
<br>
	<center>
		<div class="container">
			<div class="row spacing"><a class="button1" href="userpage.html"><button class="button1 button">Users</button></a></div>
			<div class="row spacing"><a class="button1" href="configurationpage.html"><button class="button1 button">Configuration</button></a></div>
			<div class="row spacing"><button class="button1 button">Reports</button></div>
		</div>

	</center>
</body>
</html>
